@using Gold.ApplicationService.Contract.DTOs.Models.SettingsModels;
@using Gold.ApplicationService.Contract.DTOs.Models.GoldPriceModels;

<div class="k-rtl ">
    @(Html.Kendo().Grid<GoldPriceGridModel>()
        .Name("grid_goldPrice")
        .Columns(columns =>
        {
            columns.Bound("").ClientTemplate("#= renderRecordNumber(data,gridName) #")
            .Title("#")
            .Width(30);


            columns.Bound(c => c.OneGram18KaratGold)
            .Sortable(true)
            .Title(Captions.OneGram18KaratGold)
            .Filterable(true)
            .Width(150);

            columns.Bound(c => c.RegisterDate)
            .Sortable(true)
            .Title(Captions.RegisterDate)
            .Filterable(true)
            .Width(100);
            
            columns.Bound(c => c.UserName)
            .Sortable(true)
            .Title(Captions.User)
            .Filterable(true)
            .Width(100);

            columns.Bound(c => c.Id)
            .Title(Captions.Operation)
            .ClientTemplate($"<div class='text-center'>"+
            $"<button class='btn btn-danger' onclick='getRequestWithConfirmRefreshGrid(\"/Dashboard/Setting/RemoveGoldPrice?id=#=Id#\",\"{UserMessages.AreYouSureForDelete}\",gridName,resetSocialNetworkForm)' title='{Captions.Delete}'><i class='fa fa-trash'></i></button>" +
                        "</div>")
            .Width(100)
            .Filterable(false)
            .Sortable(false)
            .Groupable(false);
        })
        .Sortable()
        .Selectable()
        .Scrollable(x => x.Height("auto"))
        .Filterable()
        .HtmlAttributes(new { @class = "" })
        .Pageable(pageable => pageable
        .PageSizes(new[] { 10, 50, 100, 500 })
        .Info(true)
        .Enabled(true)
        .PreviousNext(true)
        .Input(true)
        .Numeric(true)
        .ButtonCount(8)
        .Refresh(true)
        )
        .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(x => x.Add(y => y.Title))
        .Read(read => read.Action("GoldPriceList_Read", "Setting"))
        ).Events(ev => ev.DataBound("onDataBound"))
        )
</div>
<script>
    function GetData(){
        return;
    }
</script>