@{
    Layout = null;
}

<div class="modal fade" id="contactInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md align-items-center">
        <div dir="rtl" class="modal-content">
            <div class="modal-header py-1 border-bottom-0 text-center">
                <h6 class="modal-title  text-dark mx-auto">
                    @Captions.ContactInfo
                </h6>
                <button type="button" class="btn btn-link mx-0" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid align-top text-dark fa-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h6 id="sellerGalleryName">
                </h6>
                <table class="table contact-table" id="contactUsSellerInfo">
              
                </table>

            </div>
        </div>
    </div>
</div>
