@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="modal fade px-0" id="photo-gallery" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog w-100 modal-fullscreen">
        <div class="modal-content dir-rtl">
            <div class="modal-header py-1 border-bottom-0 text-center">
                <h6 class="modal-title">
                    تصاویر
                </h6>
                <button type="button" class="btn btn-link mx-0" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-close"></i>
                </button>
            </div>

            <div class="modal-body pt-0">
                <div class="row">
                    <div class="swiperGallery">
                        <!-- Additional required wrapper -->
                        <div id="image-modal-body" class="swiper-wrapper">
                            <!-- Slides -->
                            <!-- <div class="swiper-slide">
                                 <img src="./assets/image/products/img1.png" alt="">
                             </div>
                             <div class="swiper-slide">
                                 <img src="./assets/image/products/img2.png" alt="">
                             </div>
                             <div class="swiper-slide">
                                 <img src="./assets/image/products/img3.png" alt="">
                             </div>

                             <div class="swiper-slide">
                                 <img src="./assets/image/products/img4.png" alt="">
                             </div>-->

                        </div>

                        <!-- If we need pagination -->
                        <div class="swiper-gallery-pagination"></div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-gallery-button-next"></div>
                        <div class="swiper-gallery-button-prev"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
