@{
	Layout = null;
}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="NOINDEX, NOFOLLOW">
	<title>@Captions.Error</title>
	<link href="~/sitetheme/css/error.css" rel="stylesheet" />
</head>

<body>
	<div id="notfound">
		<div class="notfound">
			<div >
				<img src="~/sitetheme/image/500.png" />
			</div>
			<p> @UserMessages.ErrorOccurredWhileProcessingData  </p>
			<a href="/">@Captions.MainPage</a>
		</div>
	</div>
</body>
</html>
