@using Gold.ApplicationService.Contract.DTOs.Models.AccessLevelModels;
<div class="k-rtl ">
    @(Html.Kendo().Grid<AccessLevelModel>()
        .Name("grid_AccessLevelsGrid")
        .Columns(columns =>
        {
            columns.Bound("").ClientTemplate("#= renderRecordNumber(data,gridName) #")
            .Title("#")
            .Width(40);

            columns.Bound(c => c.Title)
            .Sortable(true)
            .Title(Captions.Title)
            .Filterable(true)
            .Width(110);

            columns.Bound(c => c.Id)
            .ClientTemplate($"<div class='text-center'><button class='btn btn-primary' onclick='loadDataInModal(\"/Dashboard/PermissionManager/AddOrEditAccessLevel?id=#=Id#\",\"addOrEditAccessLevelModal\")'  title='{Captions.Edit}'><i class='fa fa-edit'></i></button>" +
            $"<button class='btn btn-danger' onclick='getRequestWithConfirmRefreshGrid(\"/Dashboard/PermissionManager/RemoveAccessLevel?id=#=Id#\",\"{UserMessages.AreYouSureForDelete}\",gridName)' title='{Captions.Delete}'><i class='fa fa-trash'></i></button></div>")
            .Title(Captions.Operation)
            .Width(100)
            .Filterable(false)
            .Sortable(false)
            .Groupable(false);

        })
        .Sortable()
        .Selectable()
        .Scrollable(x => x.Height("auto"))
        .Filterable()
        .HtmlAttributes(new { @class = "" })
        .Pageable(pageable => pageable
        .PageSizes(new[] { 10, 50, 100, 500 })
        .Info(true)
        .Enabled(true)
        .PreviousNext(true)
        .Input(true)
        .Numeric(true)
        .ButtonCount(8)
        .Refresh(true)
        )
        .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(x => x.Add(y => y.Title))
        .Read(read => read.Action("AccessLevelList_Read", "PermissionManager"))
        ).Events(ev => ev.DataBound("onDataBound"))
        )
</div>

        <script>
    function GetData(){return;}
        </script>