@using Gold.Resources;
@model ChangeUserPasswordViewModel
@{
    Layout = null;
}

<form action="/ChangeUserPassword" onsubmit="submitFormAndCloseModal(this, 'changePasswordModal')">
        <div class="section row">
            <div class="col-xs-12  form-group">
                <label asp-for="CurrentPassword" class="star"></label>
                <div class="input-group">
                    <input asp-for="CurrentPassword" type="password" class="form-control" autocomplete="off">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
              <div class="col-xs-12  form-group">
                <label asp-for="NewPassword" class="star"></label>
                <div class="input-group">
                    <input asp-for="NewPassword" type="password" class="form-control" autocomplete="off">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="col-xs-12  form-group">
                <label asp-for="ConfirmNewPassword" class="star"></label>
                <div class="input-group">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" autocomplete="off">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
    <div class="panel-footer text-right">
        <button type="submit"  class="btn btn-info btn-labeled"><span>@Captions.ChangePassword</span> <b><i class="fa fa-key"></i></b></button>
    </div>
</form>