@model string
@{
    Layout = null;
}
@if (!string.IsNullOrEmpty(Model))
{
    <div class="container bg-dark rounded dir-rtl">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img src="/Document/GetCollateralImage?imageName=@Model" style="width:100%" class="img-fluid rounded" alt="">
            </div>
        </div>
        
       @* <div class="col-12 pt-3">
            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-gray_light">@Captions.Close</button>
        </div>*@
    </div>
}
