
<div class="modal fade" id="documentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog pe-0 modal-dialog-scrollable modal-dialog-centered" dir="rtl">
        <div class="modal-content" id="documentModalContent">
        </div>
    </div>
</div>
